<template>
  <div>
      <div >
        <Tabledata :employees="employees" />
     </div>
  </div>
</template>
<script> 
//import Vue from 'vue'
import Tabledata from '@/components/Tabledata'
import db from '/fb'
export default  {
  data() {
    return {
      employees: [], 
    }
  },
  components: {
    Tabledata,
  },
  created() {
    db.collection('employees').onSnapshot(res => {
      const updates = res.docChanges();
      updates.forEach(change => {
        if (change.type == 'added') {
          this.employees.push({
            ...change.doc.data(),
            id: change.doc.id
          })
        } else if (change.type == 'removed') {
          console.log('successfully deleted')
        } else {
              console.log('successfully updated')
        }
      })
    })
  },
  mounted() {
      db.collection('employees').orderBy("id", "desc").get().then((snapshot) => {
          snapshot.docs.forEach(doc => {
            //console.log(doc.data())
            this.employees.push(
              doc.data()
            )
          })
      })
        //      let apir = 'https://firestore.googleapis.com/v1/projects/employee-management-58cb3/databases/(default)/documents/employees'
                        
        //      Vue.axios.get(apir).then((response) => {
        //         this.employees = response.data.documents;
                
        //         //console.log(response.data.documents)
        //     })
           },
}
</script>