<template>
    <div>
        <modal name="addemployee" :adaptive="true" :clickToClose="false" height="auto"   >
       
      <div class="border-b p-8 flex items-center justify-between">
        <span class="text-3xl text-gray-500">Add Employee</span>
        <i class="cursor-pointer" @click="close">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </i>
      </div>

      <form @submit.prevent="onSubmit">
        <div class="p-8">
        
            <fieldset>
              <label class="font-bold text-gray-500 py-3 block">Name</label>
              <input v-model="form.name" type="text" class="capitalize outline-none w-full border px-3 py-2">
              <span v-if="!$v.form.name.required && $v.form.name.$dirty" class="text-red-500">Name is required</span>
            </fieldset>
        
              <fieldset>
              <label class="font-bold text-gray-500 py-3 block">Position</label>
              <input v-model="form.position" type="text" class="capitalize outline-none w-full border px-3 py-2">
              <span v-if="!$v.form.position.required && $v.form.position.$dirty" class="text-red-500">Position is required</span>
             </fieldset>
  
          
            <!-- <fieldset>
              <label class="font-bold text-gray-500 py-3 block">Email</label>
              <input v-model="form.email" type="email" class="outline-none w-full border px-3 py-2">
               <span v-if="!$v.form.email.required || $v.form.email.email  "  class="text-red-500">Email is required and should be valid</span>
            </fieldset> -->
         
            <fieldset>
              <label class="font-bold text-gray-500 py-3 block">Address</label>
              <textarea v-model="form.address" type="text" class="capitalize outline-none w-full border px-3 py-2"></textarea>
            <span v-if="!$v.form.address.required && $v.form.address.$dirty" class="text-red-500">Name is required</span>
            </fieldset>

            <fieldset>
              <label class="font-bold text-gray-500 py-3 block">Phone</label>
              <input v-model="form.phone" type="tel" class="capitalize outline-none w-full border px-3 py-2">
            <span v-if="!$v.form.phone.required && $v.form.phone.$dirty" class="text-red-500">Name is required</span>
            </fieldset> 
        
        </div>
          <div class="border-t bg-gray-100 py-6 px-8 flex items-center justify-end space-x-4">
              <button @click="reset" class="focus:outline-none py-3 px-6 font-bold">Cancel</button>
              <button class="transition duration-700 ease-in-out hover:bg-green-500 focus:outline-none py-3 px-12 bg-green-400 text-white font-bold">Add</button>
          </div>
      </form> 
    </modal>
    </div>
</template>
<script>  
import db from '/fb'
import { required, alpha,   } from 'vuelidate/lib/validators'
export default  {
   data() {
     return {
       form: {
         name: '',
         position: '',
         email: '',
         address: '',
         phone: ''
       }
     }
   },
   validations: {
     form: {
         name: {
           required,
           alpha 
         },
         position: {
           required,
           alpha
         },
        //  email: {
        //    required,
        //    email
        //  },
         address: {
           required,
         },
         phone: {
           required
         }
       }
   },
  methods: {
    onSubmit() { 
      this.$v.$touch(); 
      if (!this.$v.$invalid) { 
        
          const employee_rec = {
            name: this.form.name,
            position: this.form.position,
            address: this.form.address,
            phone: this.form.phone
          }

          db.collection('employees').add(employee_rec)
          .then(()=> {
              this.addemployee()
              this.reset()
              this.close()
          }) 
      }
    },
    reset() {
      this.form.name = '',
      this.form.position = '',
      this.form.email = '',
      this.form.address = '',
      this.form.phone = ''
    },
    close() {
      this.$modal.hide('addemployee')
    },
    addemployee() {
      this.$toast.open({
        message: "Successfully Added New Employee " +this.form.name,
        type: "success",
        duration: 3000,
        dismissable: true,
        position: "bottom-right"
      })
    }
  }
}
</script>