<template>
    <div>
        <template>
            <div>
                <modal name="deleteemployee" :adaptive="true" :clickToClose="false" height="auto" :scrollable="true" >
            <div class="border-b p-8 flex items-center justify-between">
                <span class="text-3xl text-gray-500">Delete Employee</span>
                <i class="cursor-pointer" @click="close">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </i>
            </div>
            <div class="p-8">
                 <p class="text-gray-500 py-4">Are you sure you want to delete employee <span class="font-bold text-lg">{{id.name}}</span>?</p>
                 <span class="text-yellow-400">This action cannot be undone.</span>
            </div>
            <div class="border-t bg-gray-100 py-6 px-8 flex items-center justify-end space-x-4">
                <button @click="close" class="focus:outline-none py-3 px-6 font-bold">Cancel</button>
                <button @click="deletes()" class="transition duration-700 ease-in-out hover:bg-red-500 focus:outline-none py-3 px-12 bg-red-400 text-white font-bold">Delete</button>
            </div>
            </modal>
            </div>
        </template>
        
    </div>
</template>
<script>  
        import db from '/fb'
        export default  {
        props:['id'],
        methods: { 
            deletes() {
                db.collection('employees').doc(this.id.id).delete();
                let element = document.getElementById(this.id.id)
                    element.classList.add('hidden')
                this.delemployee();
                this.close();
            },
            close() {
                this.$modal.hide('deleteemployee')
            },
            delemployee() {
            this.$toast.open({
                message: "Successfully Deleted Employee " + this.id.name,
                type: "success",
                duration: 3000,
                dismissable: true,
                position: "bottom-right"
            })
            }
        }
        }
        </script>