<template>
    <div>
        <modal name="editemployee" :adaptive="true" :clickToClose="false" height="auto"   >
       
      <div class="border-b p-8 flex items-center justify-between">
        <span class="text-3xl text-gray-500">Update Employee</span>
        <i class="cursor-pointer" @click="close">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </i>
      </div>

      <form @submit.prevent="onSave(id)">
        <div class="p-8">
        
            <fieldset>
              <label class="font-bold text-gray-500 py-3 block">Name</label>
              <input  v-model="id.name" type="text" class="capitalize outline-none w-full border px-3 py-2">
               
            </fieldset>
        
              <fieldset>
              <label class="font-bold text-gray-500 py-3 block">Position</label>
              <input v-model="id.position" type="text" class="capitalize outline-none w-full border px-3 py-2">
               
             </fieldset>
  
          
            <!-- <fieldset>
              <label class="font-bold text-gray-500 py-3 block">Email</label>
              <input v-model="form.email" type="email" class="outline-none w-full border px-3 py-2">
               <span v-if="!$v.form.email.required || $v.form.email.email  "  class="text-red-500">Email is required and should be valid</span>
            </fieldset> -->
         
            <fieldset>
              <label class="font-bold text-gray-500 py-3 block">Address</label>
              <textarea v-model="id.address" type="text" class="capitalize outline-none w-full border px-3 py-2"></textarea>
             
            </fieldset>

            <fieldset>
              <label class="font-bold text-gray-500 py-3 block">Phone</label>
              <input v-model="id.phone" type="tel" class="capitalize outline-none w-full border px-3 py-2">
             
            </fieldset> 
        
        </div>
          <div class="border-t bg-gray-100 py-6 px-8 flex items-center justify-end space-x-4">
              <button  class="invisible focus:outline-none py-3 px-6 font-bold">Cancel</button>
              <button   class="transition duration-700 ease-in-out hover:bg-green-500 focus:outline-none py-3 px-12 bg-green-400 text-white font-bold">Save</button>
          </div>
      </form> 
    </modal>
    </div>
</template>
<script> 
    import db from '/fb'
    export default {
        props:['id'],
        data() {
            return {
                form: {
                    name: '',
                    position: '',
                    email: '',
                    address: '',
                    phone: ''
                }
            }
        },
        methods: {
            onSave(id) {
                db.collection('employees').doc(id.id).set(
                    {
                        name: id.name,
                        position: id.position,
                        address: id.address,
                        phone: id.phone
                    }
                )
                this.$toast.open({
                    message: "Successfully Updated Employee " + id.name +" (Please Refresh the Page for the updates to reflect)",
                    type: "warning",
                    duration: 5000,
                    dismissable: true,
                    position: "bottom-right"
                })
                this.close()
                //location.reload()
                
                //this.$router.push('/')
            },
            close() {
                this.$modal.hide('editemployee')
            },
        } 
    }
</script>
