<template>
    <div id="nav" class="py-4 bg-gray-700 flex justify-between items-center px-6">
       <div class="w-60 text-white">Employee Management  </div>
       <div class="w-3/6 text-right flex justify-end items-center space-x-4"> 
            
            <a @click="add"  class="cursor-pointer flex items-center space-x-2 rounded block bg-green-600 text-white text-sm py-2 px-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>Add New Employee</span></a>
        </div>
    </div>
</template> 
<script> 
    export default {
        data() {
            return {
                search:''
            }
        },
        methods: {
            add() {
                this.$modal.show('addemployee')
            },
            del() {
                this.$modal.show('deleteemployee')
            }, 
        }
    }
</script>

