<template>
    <div> 
         
        <div class="px-6">
        <div class=" "> 
            <div id="app" style="overflow-x:auto;">
                <div class="mt-4 flex items-center justify-end"><input v-model="search" class="w-full sm:w-80 mb-4 bg-gray-50 border border-gray-200 outline-none rounded-full py-2 px-4" placeholder="Search Employee Name"></div>
                <table class="table-auto w-full shadow-lg rounded">
                    <thead>
                        <tr class="text-left bg-gray-300 border-b border-grey uppercase">
                            <th class="px-2 py-6"></th>
                            <th class="text-sm text-gray-700">Name</th>
                            <th class="   text-sm text-gray-700">Position</th>
                            <th class="hidden md:table-cell text-sm text-gray-700">Address</th>
                            <th class="hidden md:table-cell text-sm text-gray-700">Phone</th>
                            <th class="  text-sm text-gray-700">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr v-for="data in  filteredemployees" :key="data.id" :id="data.id" :class="removing ? 'chester': 'gonzales'"  class="accordion border-b border-grey-light hover:bg-gray-100" >
                            <td class="px-3 py-4"> 
                            </td>
                            <td class="flex inline-flex items-center">
                                <span>
                                    <img
                                    class="hidden mr-1 md:mr-2 md:inline-block h-8 w-8 rounded-full object-cover"
                                    src="http://placebeard.it/640/480"
                                    alt=""
                                    />
                                </span>
                                <span class="py-3 w-40">
                                    <p class="text-gray-800 text-sm capitalize">{{data.name}}  </p>  
                                </span>
                            </td>
                            <td class=" "> 
                                <p class="text-sm text-gray-700 font-medium capitalize">{{data.position}}</p>
                            </td>
                            <td class="hidden md:table-cell">
                                <p class="text-sm text-gray-700 font-medium capitalize">{{data.address}}</p>
                            </td> 
                            <td class="hidden md:table-cell">
                                <p class="text-sm text-gray-700 font-medium">{{data.phone}}</p>
                            </td> 
                            <td class=" ">
                                <p class="flex items-center space-x-4 text-sm text-gray-700 font-medium">
                                    <i @click="edit(data)" class="cursor-pointer text-yellow-400">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                        </svg>
                                    </i>
                                    <i @click="selected(data)"   class="cursor-pointer text-red-400">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                    </i>
                                     
                                </p>
                            </td> 
                        </tr> 
                </tbody>
                </table>
            </div>
        </div>
        </div> 
         <Deleteemployee :id="deletedid" />
         <Editemployee :id="editid" />
    </div>
</template>
<script> 
    
import Deleteemployee from '@/components/Deleteemployee'
import Editemployee from '@/components/Editemployee'
    export default {
        components: {
            Deleteemployee,
            Editemployee
        },
         props: ['employees'],
         data() {
             return {
                 removing: false,
                 search:'',
                 deletedid: {
                     id:'',
                     name: ''
                 },
                 editid: {
                     id: '',
                     name: '',
                     position: '',
                     address: '',
                     phone: ''
                 }
             }
         },
         methods: { 
            selected(data) { 
                this.$modal.show('deleteemployee') 
                this.deletedid.id = data.id;
                this.deletedid.name = data.name;
            },
            edit(data) {
                this.$modal.show('editemployee') 
                this.editid.id = data.id;
                this.editid.name = data.name;
                this.editid.position = data.position;
                this.editid.address = data.address;
                this.editid.phone = data.phone;
            },

         }, 
         computed: {
             filteredemployees() {
                 return this.employees.filter(data => data.name.toLowerCase().includes(this.search.toLowerCase()))
                        
            }
         }
    }
</script>
