<template>
  <div id="app">
     <Navs />
    <router-view/>
    <Addemployee />
    <div class="w-40 text-xs flex items-center justify-between fixed bottom-0 py-2 px-3 bg-gray-200 text-green-900"><span>Build with:</span> <span class="flex"><img title="vuejs" class="w-5" src="@/assets/vue.svg"><img title="firebase" class="w-5" src="@/assets/firebase.svg"><img title="tailwindcss" class="w-5" src="@/assets/tailwindcss.svg"></span></div> 
     
  </div>
</template>
<script> 
import Navs from '@/components/Navs' 
import Addemployee from '@/components/Addemployee'


export default  {
  data() {
    return {
      
    }
  },
  components: {
    Navs,
    Addemployee, 
  },
  methods: {
    
    add() {
      this.$modal.show('addemployee')
    },
    
    close() {
      this.$modal.hide('addemployee')
    }
  }
}
 
</script>

 
